
@model IEnumerable<MobileShopConnection.BinhLuan>
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<h2> Bình Luận</h2>
@if (User.Identity.IsAuthenticated)
{
   <textarea id="comment-content"></textarea>
   <input value="Đăng" type ="button" onclick="PostComment()"/>
}
else
{

    <div>Vui lòng <a href="/Account/Login?ReturnUrl=@Request.Url.AbsoluteUri">đăng nhập</a></div>
}
<div id="comments">
    @foreach (var item in Model)
    {
        <div class="comment">
            <div class="comment-name">@item.TenTaiKhoan</div>
            <div class="comment-conten">@item.NoiDung</div>
        </div>
    }
</div>
