
@model MobileShopConnection.SanPham
    <div class="name"><h3><a href="product.html">@Model.TenSP</a></h3></div>
<div class="info">
    <ul>
        <li>
            <input name="masanpham" type="hidden" value="@Model.MaSP"/><
        </li>
        <li>
            <input type="hidden" value="@Model.Gia"/>
        </li>
    </ul>
</div>
<div class="price">@String.Format(System.Globalization.CultureInfo.GetCultureInfo("vi_VN"),"{0:c}",Model.Gia)</div>