@model MobileShopConnection.LoaiSP
@{
    ViewBag.Title = "XoaTam";
    Layout = "~/Areas/Admin/Views/Shared/_MainPlayoutAdmin.cshtml";
}
}
<style>
    input[type=text], select {
        width: 80%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    input[type=submit] {
        width: 80%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 20px;
        cursor: pointer;
    }

        input[type=submit]:hover {
            background-color: #4CAF50;
        }

    div {
        border-radius: 5px;
        background-color: #808080;
    }
</style>
<body>

    <h3>Xóa Nhà Sản Xuất</h3>

    <div>
    @using (Html.BeginForm("XoaTam", "AdminLSP", FormMethod.Post))
    {
        <div>
            <label for="fname">Mã Nhà Sản Xuất</label>
            <input type="text" id="fname" name="MaLoaiSP" required value="@Model.MaLoaiSP" readonly>
        </div>
        <div>
            <label for="lname">Tên Nhà Sản Xuất</label>
            <input type="text" id="lname" name="TenLoaiSP" required value="@Model.TenLoaiSP" readonly>
        </div>
        <div>
            <label for="country">Tình trạng</label>
            <select id="country" name="TinhTrang" required>
                @if (Model.TinhTrang == 1)
                {

                    <option value="1" selected>Đã Khóa</option>
                }
                else
                {

                    <option value="0" selected>Chưa Khóa</option>


                }
            </select>

        </div>
            <input type="submit" value="Xóa Thành công">

            }


        </div>

</body>




